<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="db.properties" />
	 
	 <settings>
	 
	 	<!-- DB컬럼명을 낙타표기법으로 표기한 속성명과 자동매핑 설정하기 -->
	 	<setting name="mapUnderscoreToCamelCase" value="true"/>
	
		<!--
		 데이터 등록 시 해당 속성갑싱 존재하지 않으면 (즉, null인 경우..)
		 부적합한 열 유형 1111 예외 발생함.
		 이 경우 해당 JDBC 타입을 명시적으로 알려주든지 아래와 같이 NULL속성에 대해
		 특정값으로 자동 설정이 가능함 
		 --> 
		<setting name="jdbcTypeForNull" value="NULL"/>
	 </settings> 
	 
	<typeAliases>
		<typeAlias type="kr.or.ddit.member.vo.MemberVO" alias="mvo"/>
		<typeAlias type="kr.or.ddit.comm.vo.AtchFileVO" alias="fileVO"/>
	</typeAliases>

	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
				
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mappers/member.xml"/>
		<mapper resource="mappers/atchFile.xml"/>
	</mappers>
	
</configuration>